.wrapper 
{
    max-width: 1000px;
    margin: 0 auto;
}

.header
{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.legend 
{
    width: 900px;
    padding: 10px;
    margin: 20px;
    border: 10px solid rgb(100, 149, 237);
    background-color:rgb(139, 211, 232);
    font-family: 'Lucida Sans';
    font-style: italic;
}

#input 
{
    width: 240px;
    height: 40px;
    margin: 10px;
    background-color:rgb(224, 226, 226);
    font-family: 'Lucida Sans';
    font-style: italic;
    font-size: xx-large;
}

#btn
{
    border-radius: 12px;
    color: #18191a;
    border: 2px solid rgb(100, 149, 237);
    background-color: rgb(132, 213, 234);
    font-family: 'Lucida Sans';
    font-style: italic;
    font-size: x-large;
}
#btn1
{
    border-radius: 12px;
    color: #18191a;
    border: 2px solid rgb(100, 149, 237);
    background-color: rgb(132, 213, 234);
    font-family: 'Lucida Sans';
    font-style: italic;
    font-size: x-large;
}
.card-header 
{
    margin: 10px;
    font-size: 28px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(100, 149, 237);
}

.col-s12-m6
{
    width: 250px;
    text-align: center;
    font-family: 'Lucida Sans';
    font-weight: bold;
    background-color: rgb(139, 211, 232) ;
    border: 1px solid rgb(4, 4, 4);
}

.col-md-12
{
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 10px;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 550px)
{
	.wrapper
	{
		max-width: 380px;
	}
    .legend 
    {
    width: 300px;
    margin: 0px;
    border: 10px solid rgb(44, 104, 215);
    background-color:rgb(183, 228, 242);
    font-family: 'Lucida Sans';
    font-style: italic;
    }
}
