header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	text-align: center;
    margin: 200px auto 10px;
    width: 500px;
    height: 110px;
    background-color: rgb(147, 197, 114);
    border: 20px solid rgb(34, 139, 34);
}

.input-form 
{
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    text-align: center;
	margin: 0 auto;
	max-width: 400px;
	padding-right: 5rem;
	padding-left: 5rem;
    background-color: rgb(175, 225, 175);
    border: 10px solid rgb(80, 200, 120);
	font-family: "Times New Roman", sans-serif;
	font-weight: bold;
}

.input-box
{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.text-box
{
	display: flex;
   	align-items: center;
	gap: 1rem;
}

.range-box
{
	display: flex;
   	align-items: center;
	gap: 1.5rem;
}

@media screen and (max-width: 550px)
{
	header
	{
		margin: 0 auto 10px;
		width: 380px;
		background-color: rgb(215, 217, 166);
	}
	.input-form 
	{
		width: 400px;
		font-size: large;
		padding-right: 0rem;
		padding-left: 0rem;
		background-color: rgb(168, 185, 127);
	}
}
